html{
  font-size: 10px;
  @media (max-width: 1200px){
    font-size: 9px;
  }
  @media (max-width: 990px){
    font-size: 8px;
  }
  @media (max-width: 768px){
    font-size: 7px;
  }
  @media (max-width: 540px){
    font-size: 6px;
  }
}
$font: 'Montserrat', sans-serif;;
$url: '../img/';
$color-black: #09101d;
$color-white: #fff;
$color-light: #999;
$color-blue: rgb(138, 204, 255);


body {
  font-family: $font;
  font-size: 14px;
  color: $color-black;
  font-weight: 400;
  min-width: 320px;
  overflow-x: hidden;
  * {
    outline: none;
  }
  @media (min-width: 1210px) {
    .container {
      width: 1210px;
      margin: 0 auto;
    }

  }
}
img{
  max-width: 100%;
}
// header
.header{
  height: 300px;
  overflow: hidden;
}
.nav-row{
  height: 80px;
  background-color: $color-white;
  padding-top: 20px;
  .container{
    display: flex;
  }
  .header__top__logo{
    flex: 0 0 180px;
    padding-top: 5px;
    @media (max-width: 768px){
      flex: 1 1 auto;
      img{
        max-width: 150px;
      }
    }
  }
  .header__top__nav{
    flex: 1 1 auto;
    padding-top: 10px;
  }
  .nav{
    text-align: right;
    @media (max-width: 768px){
      position: absolute;
      background: rgba(0, 0, 0, .9);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100vh;
      padding-top: 100px;
      display: none;
      z-index: 999;
      &.active{

      }
    }
    .nav__item{
      display: inline-block;
      @media (max-width: 768px){
        display: block;
        text-align: center;
        padding: 20px 10px;
        user-select: none;
      }
      a{
        font-size: 12px;
        padding: 0 20px;
        color: $color-light;
        text-transform: uppercase;
        @media (max-width: 992px){
          padding: 0 10px;
        }
        @media (max-width: 768px){
          color: $color-white;
          font-size: 14px;
        }
        &:hover{
          text-decoration: none;
          color: $color-blue;
        }
      }
    }
  }
}

// video
.block-mask-video{
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
  max-height: 280px;
  overflow: hidden;
  video {
    width: 100%;
  }
  svg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    text {
      font-family: 'Montserrat', sans-serif;
      font-weight: 900;
      text-transform: uppercase;
      font-size: 50px;
    }

    > rect {
      -webkit-mask: url(#mask);
      mask: url(#mask);
    }

    rect {
      fill: #fff;
    }
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    width: 10px;
    height: 100%;
    background-color: #fff;
  }

  &:before {
    left: -9px;
  }

  &:after {
    right: -5px;
  }
}

// btn
.btn-round{
  color: $color-black;
  display: inline-block;
  text-align: center;
  padding: 10px 15px;
  border: 2px solid $color-black;
  border-radius: 20px;
  text-decoration: none;
  transition: background-color .3s;
  min-width: 120px;
  &:hover{
    background-color: $color-black;
    color: $color-white;
  }
}

.title{
  text-align: center;
  font-size: 38px;
  margin-bottom: 40px;
  text-transform: uppercase;
}

//grid
.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(3, minmax(300px, 1fr));
  .span-column-2{
    grid-column-start: span 2;
  }
  .span-column-3{
    grid-column-start: span 3;
  }
  .span-row-2{
    grid-row-start: span 2;
  }
  .grid__item{
    margin: 10px;
  }
}
.info{
  .info__item{
    position: relative;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
    overflow: hidden;
    padding: 0;
    transition: box-shadow .3s;
    &:hover{
      box-shadow: 1px 1px 9px rgba(0, 0, 0, .2);
    }
    &.info__item-all-img{
      .info__item__img{
        position: absolute;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        &:after{
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: linear-gradient(to top, rgba(0, 0, 0, .8), rgba(0, 0, 0, 0));
        }
      }
      .info__item__i{
        position: relative;
        padding-top: 320px;
        color: $color-white;
      }
      .btn-round{
        color: $color-white;
        border-color: $color-white;
        &:hover{
          color: $color-black;
          border-color: $color-white;
          background-color: $color-white;
        }
      }
    }
    &.info__item-no-img{
      .info__item__img {
        position: absolute;
      }
      .info__item__i{
        display: grid;
        align-items: center;
        min-height: 565px;
      }
    }
    .info__item__img{
      height: 300px;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .info__item__i{
      padding: 20px;
      .info__item__i__header{
        font-size: 18px;
        margin-bottom: 20px;
      }
      .info__item__i__text{
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 20px;
      }
      .info__item__i__btn{

      }
    }
  }
}

section{
  margin-bottom: 120px;
}

//about
.about{
  text-align: center;
  padding: 100px;
  background-color: #eee;
  p{
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 1.5;
  }
}

// photo
.photo{
  .photo__item{
    margin: 2px;
    position: relative;
    &:after{
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, .3);
      opacity: 0;
      transition: opacity .3s;
    }
    &:hover{
      cursor: pointer;
      &:after{
        opacity: 1;
      }
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}